body {
  font-family: Arial, sans-serif;
  background-color: #f9fbff;
  margin: 0;
}

.content {
  padding-left: 60px; /* Dịch toàn bộ nội dung sang phải */
}

nav#topmenu ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav#topmenu li {
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding: 20px;
}

nav#topmenu a {
    text-decoration: none;
    color: #fff;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  color: #0066cc; /* màu xanh */
  padding-bottom: 15px; 
  text-decoration: underline; /* gạch chân */
  cursor: pointer;
  margin-bottom: 10px;
}

h2:hover {
  color: #004080;
  text-decoration: none;
}
h3 {
  font-size: 15px;      /* nhỏ hơn h2 một chút */
  color: #004080;       /* màu xanh đậm hơn nhẹ, dễ phân cấp */
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;     /* chữ hơi đậm nhưng không quá nặng */
}